    <!-- Start Footer -->
    <link rel="stylesheet" href="/css/footer.css">
    <div class="footer">
        <div class="container">
            <div class="top-footer">
                <div class="part1">
                    <h3>وسام الجزيرة</h3>
                    <p>شركة تقدم خدمات في العديد من الاشياء مثل دراسات الجدوى والاستشارات الهندسية وغيرها...</p>
                    <img src="images/vision.png" alt="">
                </div>
                <div class="part2">
                    <h3>ساعات العمل</h3>
                    <p>9 صباحا الى 12 مسائا</p>
                </div>
                <div class="part3">
                    <h3>روابط سريعة</h3>
                    <a href="/about-us">من نحن</a>
                    <br>
                    <a href="/contact">تواصل معنا</a>
                </div>
                <div class="part4">
                    <h3>اين تجدنا</h3>
                    <p>السعودية، الرياض</p>
                    <!-- <img src="/images/map.jpg" alt=""> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927758.0365068287!2d46.16302960816569!3d24.724997820825163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh!5e0!3m2!1sen!2ssa!4v1696172543071!5m2!1sen!2ssa" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bottom-footer">
                <div class="part1">
                    <h3>وسام الجزيرة</h3>
                </div>
                <div class="part2">
                    <p>كل الحقوق محفوظة 2023 © لشركة وسام الجزيرة</p>
                </div>
                <div class="part3">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100094424067392&mibextid=LQQJ4d">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fwesam_aljazeera%2F&h=AT29vOhgzUpGwFc6OQGbO2hhPFJ1O-hy5lexYD2rf_60YkKKbCj24nYHXSyfgtdN7yB8YYYb8GotVnD0TqaLjKT9cbITf0qWXygA5JH3QVbSpEOTDRmWHFEdn8Zu_J09koVW92Sa-q7LHxKifVLWNw">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/alwesamalmasry">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->